{% extends 'partials/layout.njk' %}
{% block title %}{{cat.name}}{% endblock %}
{% block content %}
  <h1>{{cat.name}}</h1>
  <table class="table">
    <tbody>

      <tr>
        <th>ID</th>
        <td>{{ cat.name }}</td>
      </tr>

      <tr>
        <th>Birth year</th>
        <td>{{ cat.birthyear }}</td>
      </tr>

      <tr>
        <th>Colour</th>
        <td>{{ cat.color }}</td>
      </tr>
      
      <tr>
        <th>Gender</th>
        <td>{{ cat.gender }}</td>
      </tr>
      
    </tbody>
  </table>
{% endblock %}